ServerName localhost
Listen 8080
DocumentRoot "/opt/justus-backend"
Alias "/api" "/opt/justus-backend"

<VirtualHost *:8080>
  ServerName localhost

  ErrorLog /var/log/httpd/justus-backend.log

  <Directory "/opt/justus-backend">
    <Limit GET HEAD POST PUT DELETE OPTIONS>
      Require all granted
      Header set Access-Control-Allow-Origin "*"
      Options FollowSymLinks
      AllowOverride None
    </Limit>
  </Directory>
</VirtualHost>

{% if environment_id == "vagrant" %}
  EnableSendfile Off
{% endif %}