[database]
host = localhost
port = {{ postgres.server.port }}
name = {{ postgres.databases.application_database.name }}
user = {{ postgres.users.application_user.username }}
pass = {{ postgres.users.application_user.password }}